.login-wrapper {
    height: 100%;
    background-image: url(../../assets/images/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .login-content {
        .login-inner-wrapper {
            margin-top: 52px;
        }
        height: 100%;
        display: flex;
        background-color: rgba(40, 57, 101, .9);
        // justify-content: center;
        align-items: center;
        flex-direction: column;

        .password-instruction {
            position: absolute;
            right: -51px;
            top: 2px;
            color: #ffffff;
            border: 1px solid red;
            border-radius: 50%;
            height: 38px;
            width: 38px;
            font-size: 1.5em;
            text-align: center;
            cursor: pointer;
        }
    }

    .submit {
        margin-top: 20px;
        text-align: center;

        button {
            padding: 10px 60px;
        }
    }

    .forget-psw {
        color: red;
        cursor: pointer;
        text-align: center;
    }

    .logo {
        position: absolute;
        transform: rotate(-42deg);
        font-size: 14vw;
        color: #6c757d;
        top: -19vw;
        right: 0;
        left: -12vw;

        span {
            text-shadow: 2px 2px #6c757d;
            mix-blend-mode: multiply;
        }
    }

    .pass-info {
        position: absolute;
        top: 19px;
        right: 30px;
    }
}