$infinityFond : Avenir, Helvetica, Arial, sans-serif !important;
$infinityFondSize : 1rem;
$infinityColor: #ffffff;
$infinityBgColor: #000000;


// colors for Throughout application blue color combination

$darkblue: #0C0032;
$midblue: #190061;
$blue: #240090;
$skyblue: #3500D3;
$lightdark: #282828;
$bluedark: #44318D;


// grey color combination
$midgray: #4E4E50;
$greydark: #1A1A1D;
$greyreddish: #C3073F;
$lightrose: #DA7B93;


// green combination
$midgreen: #66FCF1;
$grey: #C5C6C7;

// red

$red: #FF0000;