@import "_variable";
.p-toast {
    width: auto;
    .p-toast-message {
        margin-bottom: 6px;
        box-shadow: none;
        border-radius: 0;
        &.p-toast-message-error,
        &.p-toast-message-info,
        &.p-toast-message-success {
            background: #ff0000c7;
            border: none;
            color: #ffffff;
            font-weight: 700;
            border-width: 0;
            .p-toast-icon-close {
                color: #ffffff;
                font-weight: 500;
            }
        }
        &.p-toast-message-info {
            background: #f8f9fa;
            color: #000;
            .p-toast-icon-close {
                color: #6c757d;
            }
        }
        &.p-toast-message-success {
            background: #07711f;
            color: #ffffff;
            .p-toast-icon-close {
                color: #ffffff;
            }
        }
        .p-toast-message-content {
            padding: 0.5rem;
            font-size: 12px;
            .p-toast-message-icon {
                font-size: 0;
            }
        }
    }
}

// .p-menubar {
//     background: $darkblue;
//     color: $infinityColor;
//     border-radius: 0;
//     border: none;
//     .p-menuitem-link {
//         color: #ffffff !important;
//         .p-menuitem-icon {
//             color: #ffffff !important;
//             font-weight: 700;
//         }
//         .p-menuitem-text {
//             color: #ffffff !important;
//             font-weight: 700;
//         }
//         .p-submenu-icon {
//             color: #ffffff !important;
//             font-weight: 700;
//         }
//         &:hover {
//             background: $darkblue !important;
//         }
//         &:focus {
//             box-shadow: none !important;
//         }
//     }


// }
