@import "_variable";
@import url("commonPrime.scss");
@import url("mixins.scss");
@import url("prime.scss");

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: $infinityFondSize;
    font-family: $infinityFond;
    color: $infinityColor;
    background-color: $infinityBgColor;
    height: 100%;
    // overflow: hidden;
}

:focus {
    outline: none;
    border-radius: 0;
    box-shadow: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

#app {
    height: 100%;
}

.red {
    color: $red;
}

.btn {
    text-transform: uppercase;
    border-radius: 0;

    &.btn-primary {
        background: $skyblue;

        &:focus {
            box-shadow: none;
        }
    }
}

// Complex scenario CSS

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.container-fluid {
    padding: 16px;
}

a {
    text-decoration: none;
    color: $midblue;
    font-weight: 700;
    &:hover {
        text-decoration: none;
        color: $midblue;
    }
}
